@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;

}

html,
body {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.4) 0%,rgba(0,0,0,0.7) 100%), url('hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: white;
}

#container {
  width: 1450px;
  margin: 0 auto;
  padding: 40px 0 0;
}

#container header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#container header h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0px;
}

#container header .right-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 420px;
}

#container header .right-menu p {
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
}

#container header .right-menu .login{
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 2px solid #fba534;
  border-radius: 40px;
  padding: 10px 20px;
}

#container .content-container {
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
  position: relative;
}

#container .content-container h1 {
  font-size: 5rem;
  font-weight: 400;
}

#container .content-container h1.txt-up {
  position: absolute;
  top: 0;
  top: 230px;
  left: 409px;
}

#container .content-container p {
  position: absolute;
  top: 340px;
  left: 409px;
  align-items: center;
  padding: 10px 90px;
  font-weight: 300;
  font-size: 13px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

#container .content-container form{
  position: absolute;
  top: 400px;
  left: 380px;
  color: rgb(224, 224, 224);
}

#container .content-container form input[type='search']{
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  position: relative;
}

#container .content-container button {
  background: orange;
  border: none;
  padding: 19px 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: -38px;
  right: 249px;
  cursor: pointer;
}
